body {
    background-image: url(background.jpg);
    background-size: cover;
}

h2 {
    color: #aa4139;
    text-align: center;
    border: 5px solid rgb(255, 176, 170);
    cursor: pointer;
}

p {
    color: grey;
}

li {
    list-style: none;
    display: inline-block;
}

