section {
    background-image: url(donkey-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.hero-head {
    background-color: white;
}

.button {
    justify-content: center;
}

h3 {
    padding-left: 10px;
}